# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = zuopinji.settings

[deploy]
url = http://212.64.14.4:6800/addversion.json
username = ubuntu
password = password
project = zuopinji

